/*FONTS*/
@font-face {
  font-family: 'Merri';
  src: url("./fonts/Merriweather-Regular.woff");
}

@font-face {
  font-family: 'Merri';
  src: url("./fonts/Merriweather-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: 'Jose';
  src: url("./fonts/JosefinSans-Regular.woff");
}

@font-face {
  font-family: 'Jose';
  src: url("./fonts/JosefinSans-Bold.woff");
  font-weight: bold;
}

/*COLORS*/
/* Reset */
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside {
  padding: 0;
  margin: 0;
  position: relative;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

input, select, textarea, button {
  outline: 0;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

button {
  cursor: pointer;
  background: transparent;
}

/* Common Classes */
.wid100, .containerflex, section, footer, hr, header, .stats, .offsets, .sm-about, .sm-testim, .sm-testim .container, .sm-testim .container .slide, .sm-partners, .sm-contact {
  width: 100%;
  float: left;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.listn {
  list-style: none;
  margin: 0;
  padding: 0;
}

.defimg, img {
  width: 100%;
  height: auto;
}

.defimg2 {
  width: auto;
  height: auto;
}

.coverimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.containimg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pagewrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
  padding: 0;
}

.pagewrapper2 {
  width: 100%;
  margin: 0 auto;
  max-width: 88%;
}

.pagewrapper3 {
  width: 100%;
  margin: 0 auto;
  max-width: 78%;
}

.ulslisnon, header ul, .stats ul, .offsets ul, .offsets ul li aside ul, .sm-testim .container .slide .text-cont, .sm-partners ul, .sm-articles .left ul, .sm-contact .cnt-flex ul, footer ul {
  padding: 0;
  margin: 0;
}

.ulslisnon li, header ul li, .stats ul li, .offsets ul li, .offsets ul li aside ul li, .sm-testim .container .slide .text-cont li, .sm-partners ul li, .sm-articles .left ul li, .sm-contact .cnt-flex ul li, footer ul li {
  list-style-type: none;
}

.flex, .containerflex, .containerflex article, header .contain .top, header .contain .top nav ul, header .contain .top nav ul li a, header .contain .top nav ul li p, header .contain .top nav ul li span, header .contain .bot .cont-header, header .contain .bot .cont-header ul, .stats ul, .stats ul li, .stats ul li aside, .offsets ul, .offsets ul li aside ul, .sm-about, .sm-testim .container .slide, .sm-testim .container .slide .text-cont, .sm-partners ul, .sm-articles .sm-art-flx, .sm-articles .left ul, .sm-articles .left ul li, .sm-contact .cnt-flex, .sm-contact .cnt-flex form .contained-in, footer .footer-flx, footer .footerlinks {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerflex {
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.containerflex article {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

section, footer {
  position: relative;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.disnone {
  display: none;
}

/* Default Heading */
h1 {
  font-size: 40px;
  font-family: "Jose";
  color: #3a3a3c;
}

h2 {
  font-size: 32px;
  font-family: "Jose";
  color: #3a3a3c;
  padding: 24px 0;
}

h3 {
  font-family: "Jose";
  color: #3a3a3c;
  padding: 24px 0;
}

h4 {
  font-family: "Jose";
  color: #3a3a3c;
}

h5 {
  font-family: "Jose";
  color: #3a3a3c;
}

h6 {
  font-family: "Jose";
  color: #3a3a3c;
}

p, span {
  font-size: 20px;
  font-family: "Merri";
  color: #3a3a3c;
  line-height: 40px;
}

a {
  cursor: pointer;
  display: inline-block;
  font-family: "Merri";
  font-size: 20px;
  color: #3a3a3c;
}

span {
  letter-spacing: 2px;
}

/*PRESETS*/
hr {
  margin: 5% 0;
  border: 1px solid #ccc;
}

.padder, .stats, .offsets, .sm-partners {
  padding: 5% 0;
}

header {
  position: relative;
  height: 95vh;
  background: url("../images/turtel.png");
  background-size: cover;
  background-attachment: fixed;
}

header a {
  color: white;
}

header .header-rotated {
  font-family: "Jose";
  font-size: 28px;
  border-radius: 10px;
  background: #007ac3;
  padding: 24px 24px 12px;
  position: absolute;
  left: -10px;
  top: 75%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

header .contain {
  height: 100%;
}

header .contain img {
  margin: 24px 0 0;
  max-width: 280px;
}

header .contain .top {
  padding: 0 24px;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .contain .top nav {
  height: 100%;
  width: 75%;
}

header .contain .top nav ul {
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .contain .top nav ul li {
  height: 100%;
}

header .contain .top nav ul li a, header .contain .top nav ul li p, header .contain .top nav ul li span {
  color: white;
  font-family: "Jose";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-transform: uppercase;
  display: inline-block;
  padding: 52px 20px 24px;
  text-decoration: none;
}

header .contain .top nav ul li a:hover, header .contain .top nav ul li p:hover, header .contain .top nav ul li span:hover {
  background: #22825b;
  background: -webkit-gradient(linear, left bottom, left top, from(#22825b), to(rgba(101, 193, 78, 0)));
  background: linear-gradient(0deg, #22825b 0%, rgba(101, 193, 78, 0) 100%);
}

header .contain .top nav ul li.dropdown .dropcont {
  display: none;
  position: absolute;
}

header .contain .top nav ul li.dropdown .dropcont a {
  background: #ebebeb;
  color: #333;
  border-bottom: 1px solid #ccc;
  text-align: left;
  display: block;
  padding: 24px 12px;
}

header .contain .top nav ul li.dropdown img {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0;
}

header .contain .top li:last-child a {
  padding: 12px 24px;
  height: auto;
  border: 1px solid white;
  border-radius: 5px;
}

header .contain .bot {
  height: 95%;
  width: 100%;
  text-align: center;
}

header .contain .bot h1 {
  text-transform: uppercase;
  font-size: 72px;
}

header .contain .bot .cont-header {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .contain .bot .cont-header h1 {
  margin: 32px 0;
  color: white !important;
}

header .contain .bot .cont-header p {
  color: white !important;
  font-size: 32px;
  line-height: 40px;
  padding: 12px;
}

header .contain .bot .cont-header ul {
  margin: 24px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .contain .bot .cont-header ul li {
  margin: 0 12px;
}

header .contain .bot .cont-header ul li a {
  font-family: "Jose";
  font-size: 28px;
  font-weight: bold;
  padding: 32px 48px;
  background: #007ac3;
  border-radius: 18px;
  -webkit-box-shadow: 0 8px 0 #004f7f;
          box-shadow: 0 8px 0 #004f7f;
}

.stats {
  text-align: center;
}

.stats .hun h3 {
  width: 50%;
  border-bottom: 1px solid #ebebeb;
  margin: 0 auto;
  text-transform: uppercase;
  color: #3a3a3c;
  font-size: 24px;
  font-weight: normal;
  font-family: "Merri";
  letter-spacing: 2px;
}

.stats h2 {
  color: #3c8835;
}

.stats h1 {
  margin: 72px 0;
  color: #3c8835;
  text-transform: uppercase;
}

.stats ul {
  padding: 3% 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23%;
}

.stats ul li aside {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 50%;
  background: #3c8835;
}

.stats ul li aside img {
  width: 50%;
}

.stats ul li h2 {
  margin: 24px 0;
  font-size: 48px;
}

.offsets ul {
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.offsets ul li {
  margin: 32px auto;
  position: relative;
  width: 32%;
  text-align: center;
  background: #f4f9ff;
}

.offsets ul li aside {
  width: 100%;
  background: #f4f9ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#f4f9ff), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #f4f9ff 0%, rgba(255, 255, 255, 0) 50%);
}

.offsets ul li aside img {
  width: 100%;
  opacity: 0.95;
}

.offsets ul li aside ul {
  position: absolute;
  top: 5%;
  left: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offsets ul li aside ul li {
  margin: 0;
  background: none;
  width: 46%;
}

.offsets ul li aside ul li a {
  font-family: "Jose";
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  color: #007ac3;
  padding: 18px;
  background: white;
  border-radius: 7px;
  border: 2px solid #007ac3;
}

.offsets ul li .wrapme {
  padding: 10%;
  width: 100%;
}

.offsets ul li .wrapme h2 {
  color: #3c8835;
}

.offsets ul li .wrapme p {
  line-height: 40px;
  color: #7f7f7f;
  margin: 24px 0;
}

.sm-about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sm-about article {
  width: 45%;
}

.sm-about article span {
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  padding: 4px 0;
}

.sm-about article h2 {
  color: #3c8835;
}

.sm-about article a {
  margin: 24px 0;
  font-family: "Jose";
  cursor: pointer;
  padding: 12px;
  color: #007ac3;
  border: 2px solid #007ac3;
  border-radius: 7px;
}

.sm-about aside {
  width: 500px;
}

.sm-testim .container .slick-slide {
  width: 100%;
}

.sm-testim .container .slide {
  background: #b0edaa;
  background: -webkit-gradient(linear, left bottom, left top, from(#b0edaa), to(#f1ffef));
  background: linear-gradient(0deg, #b0edaa 0%, #f1ffef 100%);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sm-testim .container .slide aside {
  max-width: 320px;
}

.sm-testim .container .slide aside img {
  width: 100%;
}

.sm-testim .container .slide .text-cont {
  margin: 0 5%;
  width: 45%;
  max-height: 800px;
  height: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sm-testim .container .slide .text-cont li {
  margin: 2% 0;
  font-family: "Jose";
}

.sm-testim .container .slide .text-cont .hdr {
  text-transform: uppercase;
  max-width: 240px;
  border-bottom: 1px solid #ebebeb;
}

.sm-testim .container .slide .text-cont .msg {
  font-style: italic;
}

.sm-testim .container .slide .text-cont .author p {
  color: #7f7f7f;
}

.sm-testim .container .slide .text-cont .author p:last-child {
  font-style: italic;
}

.sm-testim .container .slick-dots {
  bottom: 25px;
}

.sm-testim .container .slick-dots li {
  width: 32px;
  height: 32px;
  margin: 0 12px;
}

.sm-testim .container .slick-dots li button {
  width: inherit;
  height: inherit;
}

.sm-testim .container .slick-dots li button::before {
  content: "";
  width: 32px !important;
  height: 32px !important;
  background: white;
  border-radius: 50%;
  opacity: .75;
}

.sm-testim .container .slick-dots li.slick-active button::before {
  background: #007ac3;
  width: 32px !important;
  height: 32px !important;
}

.sm-partners {
  text-align: center;
}

.sm-partners span {
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  padding: 4px 0;
  font-size: 24px;
}

.sm-partners ul {
  margin: 72px auto;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sm-partners ul li {
  width: 10%;
}

.sm-articles .sm-art-flx {
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sm-articles .left {
  width: 60%;
}

.sm-articles .left span {
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
}

.sm-articles .left h1 {
  color: #3c8835;
}

.sm-articles .left ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sm-articles .left ul li {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5% 0;
}

.sm-articles .left ul li article {
  margin: 0 24px;
  width: 55%;
}

.sm-articles .left ul li article h3 {
  font-size: 24px;
}

.sm-articles .left ul li article a {
  font-size: 20px;
  color: #007ac3;
  text-decoration: underline;
}

.sm-articles .left .buttonme {
  margin: 24px 0;
  font-family: "Jose";
  cursor: pointer;
  padding: 12px;
  color: #007ac3;
  border: 2px solid #007ac3;
  border-radius: 7px;
}

.sm-articles .offset-card {
  text-align: center;
  width: 40%;
  background: #f1ffef;
  border: 1px solid #3c8835;
  border-radius: 10px;
  padding: 3%;
}

.sm-articles .offset-card h2 {
  font-family: "Merri";
  font-weight: normal;
  color: #3c8835;
}

.sm-articles .offset-card a {
  display: inline-block;
  margin: 24px 0;
  text-transform: uppercase;
  color: #007ac3;
  padding: 12px;
  background: white;
  border: 2px solid #007ac3;
  border-radius: 5px;
  font-family: "Jose";
}

.sm-contact {
  text-align: center;
}

.sm-contact span {
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  display: inline-block;
  padding: 4px 0;
}

.sm-contact h1 {
  color: #3c8835;
  margin: 42px 0;
}

.sm-contact .cnt-flex {
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sm-contact .cnt-flex form {
  text-align: left;
  width: 35%;
}

.sm-contact .cnt-flex form h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sm-contact .cnt-flex form ul li:first-child {
  font-family: "Merri";
  font-size: 18px;
}

.sm-contact .cnt-flex form input[type=text] {
  width: 100%;
  border: 1px solid #3a3a3c;
  padding: 12px;
}

.sm-contact .cnt-flex form .contained-in {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sm-contact .cnt-flex form .contained-in label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Merri";
  color: #3a3a3c;
  margin-right: 24px;
}

.sm-contact .cnt-flex form .contained-in label input:hover ~ .checkmark {
  background-color: #ebebeb;
}

.sm-contact .cnt-flex form .contained-in label input:checked ~ .checkmark:after {
  display: block;
}

.sm-contact .cnt-flex form .contained-in label input ~ .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #3a3a3c;
}

.sm-contact .cnt-flex form .contained-in label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #3c8835;
}

.sm-contact .cnt-flex form textarea {
  font-family: "Merri";
  font-size: 16px;
  width: 100%;
  height: 240px;
  border: 1px solid #3a3a3c;
  padding: 12px;
}

.sm-contact .cnt-flex form button {
  margin: 24px 0;
  border-radius: 5px;
  color: #007ac3;
  text-transform: uppercase;
  font-family: "Jose";
  font-size: 18px;
  padding: 12px 32px;
  border: 2px solid #007ac3;
}

.sm-contact .cnt-flex .cnt-info {
  margin-top: 5%;
  width: 50%;
}

.sm-contact .cnt-flex .cnt-info .inner {
  margin: 24px 0;
}

.sm-contact .cnt-flex .cnt-info .inner p:last-child {
  color: #007ac3;
}

footer {
  text-align: center;
  color: white;
  background-color: #3c8835;
  padding: 3% 0 10%;
}

footer a, footer p {
  color: white;
}

footer .footer-flx {
  text-align: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-flx ul li:first-child {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Jose";
  padding-bottom: 12px;
  border-bottom: 1px solid white;
  margin-bottom: 12px;
}

footer .footer-flx ul li a {
  font-size: 16px;
  margin: 4px 0;
}

footer .footerlinks {
  width: 45%;
  margin: 8% auto 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerlinks li {
  padding: 0 12px;
  border-right: 1px solid white;
}

footer .footerlinks li:last-child {
  border: none;
}

footer .footerlinks a {
  font-size: 16px;
}

footer p {
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */